@charset "utf-8";
.navbar-brand{
	position: absolute;
}
.navbar-brand img{
	height: 72px;
	width: auto;
}
.nav-left{
	padding-left: 100px;
}
.container-fluid {
    padding-right: 0px!important;
    padding-left: 0px!important;
	padding: 0px;
}

.carousel .carousel-item {
	height: 720px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 720px;
    right: 0px;	
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
    position: fixed;
    border-radius: 8px;
    padding: 16px;
    background-color: rgba(29,37,81,0.89) !important;
    backdrop-filter: blur(8px);
    align-items: center;
    z-index: 10;
    top: 1.7%;
    left: 0.85%;
	right: 0.85%;
}
.navbar-nav.mr-auto .nav-item .nav-link,
.navbar-nav.ml-auto .nav-item .nav-link {
    display: inline;
	color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: large;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 7px;
	position: static;
}
.navbar-nav.mr-auto .nav-item .nav-link.active,
.navbar-nav.mr-auto .nav-item .nav-link:hover,
.navbar-nav.mr-auto .nav-item .nav-link:focus,
.navbar-nav.ml-auto .nav-item .nav-link.active,
.navbar-nav.ml-auto .nav-item .nav-link:hover,
.navbar-nav.ml-auto .nav-item .nav-link:focus {
	background-color: rgba(186,189,255,0.10);
	position: static;
}

.col-xl-2 {
	text-align: center;
	
}
.col-xl-2 img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

.row {
	justify-content: right;
}

.equipment {
	width: 440px;
	display: inline-block;
	right: 100px;
	float: right;
	clear: right;
	padding-top: 100px;
}

.equipment img {
    height: 40px;
	object-fit: cover;
	object-position: left;
}

.equipment img.active,
.equipment img:hover,
.equipment img:focus {
	height: 50px;
	width: 500px;
	transition-duration: 1s;
	object-position: left;
}

.imagetable {
	padding-top:125px;
	margin-left: auto;
	margin-right: auto;
}
.imagetable table{
	margin-left: auto;
	margin-right: auto;
}

.imagetable img{
	z-index: 1;
	width: 350px;
	height: 350px;
}
 
.imagetable img.active,
.imagetable img:hover,
.imagetable img:focus{
	transform: scale(1.7);
	position: relative;
	background: rgba(255,255,255,1.00);
	border-radius: 25px;
	z-index: 20;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.cv-page{
	background: linear-gradient(#FFFFFF, #D8DBE3);
}

.cv {
	text-align: center;
	z-index: 0;
}

.cv-btns-container{
	top: 20%;
	margin-left: 6.5%;
	position: absolute;
}
.cv-btns {
	width: 165px;
	color:white;
	margin-top: 1%;
	font-family: Oswald;
	border-radius: 25px;
	text-align: center;
}
.cv-dl-btn{
	background:rgba(145,70,255,1.00);
}
.cv-pdf-btn{
	background:rgba(221,31,34,1.00);
}
.cv-bck-btn{
	background:rgba(0,0,0,1.00);
	padding-right: 25px;
}
.cv-dl-btn:hover{
	background: #7025DD;
	color: white;
	transition-duration: 0.2s;
}
.cv-pdf-btn:hover{
	background: rgba(180,25,27,1.00);
	color: white;
	transition-duration: 0.2s;
}
.cv-bck-btn:hover{
	background: rgba(71,71,71,1.00);
	color: white;
	transition-duration: 0.2s;
}
.about-container{
	margin-top:10%;
	background: #A5A8DC;
	align-items: center;
	border-radius: 25px;
	padding-bottom: 15px;
	padding-left: 50px;
	padding-right: 55px;
	padding-top: 40px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	overflow: hidden!important;
}
.about-container-fluid{
	overflow: hidden;
	min-height: 100vh;
	background: linear-gradient(rgba(255,255,255,1.00),rgba(165,168,220,1.00));
}
.about-container .image img{
	border-radius: 25px;
	width: 100%;
	height: 100%;
}
.about-container .text{
	padding-right: 40px;
	text-align: justify;
	font-family: nunito;
	font-size: 18px;
}
.about-container .about-button{
	background: rgba(101,86,162,1.00);
	margin-top: 15px;
	width: 100px;
	border-radius: 50px;
	color: white;
}
.soft-ico{
	align-self: flex-end;
	position: absolute;
	bottom: 0;
}
.soft-ico img{
	padding-right: 1px;
	height: 32px;
	width: auto;
}
.soft-text{
	font-family: nunito;
	font-size: 16px;
	position: absolute;
	bottom:0;
	padding-bottom: 20px;
}
.ttip{
	height: 20px;
	width: 20px;
	font-family: nunito;
	background: rgba(28,185,124,0.66);
}