@charset "utf-8";
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.carousel .carousel-item {
	height: 720px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 720px;
    right: 0px;	
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
    position: fixed;
    border-radius: 8px;
    padding: 16px;
    background-color: rgba(29,37,81,0.89) !important;
    backdrop-filter: blur(8px);
    align-items: center;
    z-index: 10;
    top: 1.7%;
    left: 0.85%;
	right: 0.85%;
}
.navbar-nav.mr-auto .nav-item .nav-link,
.navbar-nav.ml-auto .nav-item .nav-link {
    display: inline;
	color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: large;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 7px;
	position: static;
}
.navbar-nav.mr-auto .nav-item .nav-link.active,
.navbar-nav.mr-auto .nav-item .nav-link:hover,
.navbar-nav.mr-auto .nav-item .nav-link:focus,
.navbar-nav.ml-auto .nav-item .nav-link.active,
.navbar-nav.ml-auto .nav-item .nav-link:hover,
.navbar-nav.ml-auto .nav-item .nav-link:focus {
	background-color: rgba(186,189,255,0.10);
	position: static;
}

.col-xl-2 {
	text-align: center;
	
}
.col-xl-2 img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

.row {
	justify-content: right;
}

.equipment {
	width: 440px;
	display: inline-block;
	right: 100px;
	float: right;
	clear: right;
	padding-top: 100px;
}

.equipment img {
    height: 40px;
	object-fit: cover;
	object-position: left;
}

.equipment img.active,
.equipment img:hover,
.equipment img:focus {
	height: 50px;
	width: 500px;
	transition-duration: 1s;
	object-position: left;
}

.imagetable {
	padding-top:125px;
	margin-left: auto;
	margin-right: auto;
}
.imagetable table{
	margin-left: auto;
	margin-right: auto;
}

.imagetable img{
	z-index: 1;
	width: 350px;
	height: 350px;
}
 
.imagetable img.active,
.imagetable img:hover,
.imagetable img:focus{
	transform: scale(1.7);
	position: relative;
	background: rgba(255,255,255,1.00);
	border-radius: 25px;
	z-index: 20;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}